.eventListContainer {
    background-color: rgb(255, 255, 255);
    border-color: rgb(240, 240, 240);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-style: solid;
    border-right-width: 1px;
    border-radius: 0;
    max-width: 800px;
}

.title{
    text-align: center;
    margin-top: 30px;
}

.featured-link {
    text-decoration: none;
    color: black;
    
}

.featured-link-container {
    margin-top: 22px;
    margin-left: 10px;
}

.featuredEventsContainer {
    padding: 15px;
    margin: 15px;
    max-width: 800px;
    text-align: center;
}

.upcomingEventsContainer {
    padding: 15px;
    margin: 15px;
    max-width: 800px;
    text-align: center;
}

.content {
    background-color: white;
}

.bottom-content {
    background-color: black;
    color: white;
    min-height: 100px;
    padding: 25px;
    text-align: center;
}


.eventListItem {
    margin: 10px;
    background-color: rgb(242, 253, 253);
    font-size: 18px;
}

.eventListItemPic {
    width: 75px;
    height: 75px;
}

.featuredEventListItem {
    margin: 5px;
    font-size: 20px;
    background-color: rgb(249, 255, 191);
}

.featuredEventPfp {
    width: 75px;
    height: 75px;
}

.tournament-info-container {
    margin-left : 15px;
    text-align: left;
}

.tournament-title {
    font-size: 20px;
    text-decoration: none;
    color: black;
}

.tournament-info-text {
    font-size: 15px;
}

.spacing {
    background-color: white;
    border-style: solid;
    border-right: 1;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}

.filter {
    padding: 20px;
    margin:20px;
}

.checkbox-row {
    margin: 10px;
}

.state-checkbox {
    margin: 5px;
}

.state-ckbox-label {
    margin: 5px;
}